@font-face { font-family: 'Lato'; font-weight: 400; src: url('../fonts/latoregular.ttf');} 
@font-face { font-family: 'Lato'; font-weight: 500; src: url('../fonts/latomedium.ttf');} 
@font-face { font-family: 'Lato'; font-weight: 600; src: url('../fonts/latoheavy.ttf');} 
@font-face { font-family: 'Lato'; font-weight: 700; src: url('../fonts/latobold.ttf');}
@font-face { font-family: 'Lato'; font-weight: 900; src: url('../fonts/latoblack.ttf');}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
